In [1]:
import pandas as pd
import numpy as np
import yfinance as yf
import yahoo_fin.stock_info as si
import mysql.connector
from datetime import datetime, date
from random import randint
import glob
from decimal import Decimal, getcontext
getcontext().prec = 14

In [14]:
def novaMovimentacao(ticker, data, valor, quantidade, tipo):
    val = [ticker, data, valor, quantidade, tipo]
    df = pd.DataFrame([val], columns = ['ticker', 'data', 'valor', 'quantidade', 'tipo'])
    arq = "D:\Projetos\PeDeMeia\movimentacao\\"+str(randint(0,1000))+str(datetime.now().strftime('%Y-%m-%d'))
    df.to_csv(arq, sep=";", index=False)

In [15]:
def consultaMovimentacao():
    listaMov = []
    for arq in sorted(glob.glob("./movimentacao/*")):
        df = pd.read_csv(arq, index_col=None, header=0, sep=";")
        listaMov.append(df)
    
    dfMov = pd.concat(listaMov, axis=0, ignore_index=True)
    dfMov['data'] = pd.to_datetime(dfMov['data'], format="%Y-%m-%d")
    return dfMov

In [182]:
novaMovimentacao('BABA','2021-10-15','451.00','0.54','V')

In [78]:
dfMov = consultaMovimentacao()
dfMov.loc[dfMov['tipo'] == 'V', 'quantidade'] = dfMov['quantidade']*(-1)
dfMov = dfMov[dfMov['ticker'] == 'BABA']

In [79]:
dfMovQTD = pd.pivot_table(dfMov, values='quantidade', index='data', columns=dfMov['ticker'].str.upper(), aggfunc=sum, fill_value=0)
dfMovQTD

ticker      BABA
data
2021-10-01  1.54
2021-10-15 -1.08

In [80]:
#usa media se tiver varias movimentacoes no mesmo dia
dfMovPreco = pd.pivot_table(dfMov, values='valor', index='data', columns=dfMov['ticker'].str.upper(), fill_value=0)
dfMovPreco

ticker        BABA
data
2021-10-01  141.45
2021-10-15  177.10

In [81]:
#Baixando as cotações (round = True)
precos = yf.download(tickers=dfMovQTD.columns.tolist(), start=dfMovQTD.index[0])['Adj Close']
precos = precos.reset_index()
precos

[*********************100%***********************]  1 of 1 completed

         Date   Adj Close
0  2021-10-01  144.199997
1  2021-10-04  139.630005
2  2021-10-05  143.139999
3  2021-10-06  144.100006
4  2021-10-07  156.000000
5  2021-10-08  161.520004
6  2021-10-11  163.949997
7  2021-10-12  163.000000
8  2021-10-13  167.399994
9  2021-10-14  166.779999
10 2021-10-15  168.000000
11 2021-10-18  166.820007
12 2021-10-19  177.000000
13 2021-10-20  177.179993
14 2021-10-21  177.419998
15 2021-10-22  177.699997
16 2021-10-25  176.169998
17 2021-10-26  169.990005
18 2021-10-27  169.229996
19 2021-10-28  169.789993
20 2021-10-29  164.940002
21 2021-11-01  170.169998
22 2021-11-02  162.899994
23 2021-11-03  166.240005
24 2021-11-04  164.789993
25 2021-11-05  158.729996
26 2021-11-08  162.160004
27 2021-11-09  160.190002
28 2021-11-10  163.970001
29 2021-11-11  167.850006
30 2021-11-12  166.809998
31 2021-11-15  166.539993
32 2021-11-16  168.429993
33 2021-11-17  161.580002
34 2021-11-18  143.600006
35 2021-11-19  140.339996

In [82]:
dfTrades = dfMovQTD.reindex(precos.Date)
dfTrades.fillna(0, inplace=True)
dfTrades = dfTrades.reset_index()

In [85]:
dfTrades

ticker       Date  BABA
0      2021-10-01  1.54
1      2021-10-04  0.00
2      2021-10-05  0.00
3      2021-10-06  0.00
4      2021-10-07  0.00
5      2021-10-08  0.00
6      2021-10-11  0.00
7      2021-10-12  0.00
8      2021-10-13  0.00
9      2021-10-14  0.00
10     2021-10-15 -1.08
11     2021-10-18  0.00
12     2021-10-19  0.00
13     2021-10-20  0.00
14     2021-10-21  0.00
15     2021-10-22  0.00
16     2021-10-25  0.00
17     2021-10-26  0.00
18     2021-10-27  0.00
19     2021-10-28  0.00
20     2021-10-29  0.00
21     2021-11-01  0.00
22     2021-11-02  0.00
23     2021-11-03  0.00
24     2021-11-04  0.00
25     2021-11-05  0.00
26     2021-11-08  0.00
27     2021-11-09  0.00
28     2021-11-10  0.00
29     2021-11-11  0.00
30     2021-11-12  0.00
31     2021-11-15  0.00
32     2021-11-16  0.00
33     2021-11-17  0.00
34     2021-11-18  0.00
35     2021-11-19  0.00

In [89]:
dfMovPreco = dfMovPreco.reset_index()
dfMovPreco

ticker       data    BABA
0      2021-10-01  141.45
1      2021-10-15  177.10

In [92]:
aportes = (dfTrades * dfMovPreco).sum(axis=1)
aportes

0     217.833
1       0.000
2       0.000
3       0.000
4       0.000
5       0.000
6       0.000
7       0.000
8       0.000
9       0.000
10      0.000
11      0.000
12      0.000
13      0.000
14      0.000
15      0.000
16      0.000
17      0.000
18      0.000
19      0.000
20      0.000
21      0.000
22      0.000
23      0.000
24      0.000
25      0.000
26      0.000
27      0.000
28      0.000
29      0.000
30      0.000
31      0.000
32      0.000
33      0.000
34      0.000
35      0.000
dtype: float64

In [42]:
dfPosicao = dfTrades.cumsum()
dfPosicao

ticker      BABA
Date
2021-10-01  1.54
2021-10-04  1.54
2021-10-05  1.54
2021-10-06  1.54
2021-10-07  1.54
2021-10-08  1.54
2021-10-11  1.54
2021-10-12  1.54
2021-10-13  1.54
2021-10-14  1.54
2021-10-15  0.46
2021-10-18  0.46
2021-10-19  0.46
2021-10-20  0.46
2021-10-21  0.46
2021-10-22  0.46
2021-10-25  0.46
2021-10-26  0.46
2021-10-27  0.46
2021-10-28  0.46
2021-10-29  0.46
2021-11-01  0.46
2021-11-02  0.46
2021-11-03  0.46
2021-11-04  0.46
2021-11-05  0.46
2021-11-08  0.46
2021-11-09  0.46
2021-11-10  0.46
2021-11-11  0.46
2021-11-12  0.46
2021-11-15  0.46
2021-11-16  0.46
2021-11-17  0.46
2021-11-18  0.46
2021-11-19  0.46

In [221]:
dfPosicao = dfTrades.cumsum()
dfcarteira = pd.merge(dfPosicao, precos, how="inner", on=["Date"])
dfcarteira

            BABA   Adj Close
Date
2021-10-01  1.54  144.199997
2021-10-04  1.54  139.630005
2021-10-05  1.54  143.139999
2021-10-06  1.54  144.100006
2021-10-07  1.54  156.000000
2021-10-08  1.54  161.520004
2021-10-11  1.54  163.949997
2021-10-12  1.54  163.000000
2021-10-13  1.54  167.399994
2021-10-14  1.54  166.779999
2021-10-15  1.00  168.000000
2021-10-18  1.00  166.820007
2021-10-19  1.00  177.000000
2021-10-20  1.00  177.179993
2021-10-21  1.00  177.419998
2021-10-22  1.00  177.699997
2021-10-25  1.00  176.169998
2021-10-26  1.00  169.990005
2021-10-27  1.00  169.229996
2021-10-28  1.00  169.789993
2021-10-29  1.00  164.940002
2021-11-01  1.00  170.169998
2021-11-02  1.00  162.899994
2021-11-03  1.00  166.240005
2021-11-04  1.00  164.789993
2021-11-05  1.00  158.729996
2021-11-08  1.00  162.160004
2021-11-09  1.00  160.190002
2021-11-10  1.00  163.970001
2021-11-11  1.00  167.850006
2021-11-12  1.00  166.809998
2021-11-15  1.00  166.539993
2021-11-16  1.00  168.429993
2021-11-17  1.00  161.580002
2021-11-18  1.00  143.600006
2021-11-19  1.00  140.339996

In [46]:


dfcarteira['Saldo'] = dfcarteira.sum(axis='1')
dfcarteira

NameError: name 'dfcarteira' is not defined

In [133]:
for i, data in enumerate(aportes.index):
    if i == 0:
        dfcarteira.loc[data, 'vlCota'] = 1
        dfcarteira.loc[data, 'qtdCotas'] = dfcarteira.loc[data]['Saldo'].copy()
    
    else:
        if aportes[data] != 0:
            dfcarteira.loc[data, 'qtdCotas'] = dfcarteira.iloc[i-1]['qtdCotas'] + (aportes[data] / dfcarteira.iloc[i-1]['vlCota'])
            dfcarteira.loc[data, 'vlCota'] = dfcarteira.iloc[i]['Saldo'] / dfcarteira.loc[data, 'qtdCotas']
            print(dfcarteira.loc[data, 'qtdCotas'], ' ', dfcarteira.iloc[i]['Saldo'])
            dfcarteira.loc[data, 'retorno'] = (dfcarteira.iloc[i]['vlCota'] / dfcarteira.iloc[i-1]['vlCota'])-1
        else:
            dfcarteira.loc[data, 'qtdCotas'] = dfcarteira.iloc[i-1]['qtdCotas']
            dfcarteira.loc[data, 'vlCota'] = dfcarteira.iloc[i]['Saldo'] / dfcarteira.loc[data, 'qtdCotas']
            dfcarteira.loc[data, 'retorno'] = (dfcarteira.iloc[i]['vlCota'] / dfcarteira.iloc[i-1]['vlCota'])-1

203.5683948215863   380.55811462402346
225.44825519070756   400.32031845703125
1384.9497302129682   2552.783628491211

In [132]:
dfcarteira

ticker,AMZN,BABA,MSFT,Saldo,vlCota,qtdCotas,retorno
Date,,,,,,,
2021-10-01,0.000000,222.067995,202.000436,424.068432,1.000000,424.068432,NaN
2021-10-04,0.000000,215.030208,197.815091,412.845298,0.973535,424.068432,-0.026465
2021-10-05,0.000000,220.435599,201.762888,422.198487,0.995590,424.068432,0.022655
2021-10-06,0.000000,221.914009,204.802295,426.716304,1.006244,424.068432,0.010701
2021-10-07,0.000000,240.240000,206.018088,446.258088,1.052326,424.068432,0.045796
2021-10-08,0.000000,248.740807,206.018088,454.758894,1.072371,424.068432,0.019049
2021-10-11,0.000000,252.482995,205.584882,458.067877,1.080174,424.068432,0.007276
2021-10-12,0.000000,251.020000,204.641608,455.661608,1.074500,424.068432,-0.005253
2021-10-13,0.000000,257.795991,207.038223,464.834214,1.096130,424.068432,0.020130
2021-10-14,0.000000,256.841198,211.537979,468.379177,1.104490,424.068432,0.007626
2021-10-15,0.000000,168.000000,212.558115,380.558115,1.869436,203.568395,0.692579
2021-10-18,0.000000,166.820007,214.710196,381.530203,1.874211,203.568395,0.002554
2021-10-19,0.000000,177.000000,215.367001,392.367001,1.927446,203.568395,0.028404
2021-10-20,0.000000,177.179993,223.140326,400.320318,1.775664,225.448255,-0.078748
2021-10-21,0.000000,177.419998,225.571990,402.991988,1.787514,225.448255,0.006674
2021-10-22,0.000000,177.699997,224.410596,402.110593,1.783605,225.448255,-0.002187
2021-10-25,0.000000,176.169998,223.662956,399.832955,1.773502,225.448255,-0.005664
2021-10-26,0.000000,169.990005,225.100157,395.090163,1.752465,225.448255,-0.011862
2021-10-27,0.000000,169.229996,234.580077,403.810073,1.791143,225.448255,0.022071
2021-10-28,0.000000,169.789993,235.436592,405.226586,1.797426,225.448255,0.003508
2021-10-29,0.000000,164.940002,240.713675,405.653677,1.799321,225.448255,0.001054
2021-11-01,0.000000,170.169998,239.080471,409.250469,1.815275,225.448255,0.008867
2021-11-02,0.000000,162.899994,241.809757,404.709750,1.795134,225.448255,-0.011095
2021-11-03,0.000000,166.240005,242.441241,408.681246,1.812750,225.448255,0.009813
2021-11-04,0.000000,164.789993,244.212371,409.002364,1.814174,225.448255,0.000786
2021-11-05,0.000000,158.729996,243.936541,402.666537,1.786071,225.448255,-0.015491
2021-11-08,0.000000,162.160004,244.611611,406.771615,1.804279,225.448255,0.010195
2021-11-09,0.000000,160.190002,243.856715,404.046718,1.792193,225.448255,-0.006699
2021-11-10,0.000000,163.970001,240.118453,404.088454,1.792378,225.448255,0.000103
2021-11-11,0.000000,167.850006,241.301618,409.151624,1.814836,225.448255,0.012530
2021-11-12,0.000000,166.809998,244.415631,411.225628,1.824036,225.448255,0.005069
2021-11-15,2142.299815,166.539993,243.943821,2552.783628,1.843232,1384.949730,0.010524
2021-11-16,2139.290910,168.429993,246.440819,2554.161722,1.844227,1384.949730,0.000540
2021-11-17,2144.305800,161.580002,246.608060,2552.493862,1.843023,1384.949730,-0.000653
2021-11-18,2233.159487,143.600006,248.171536,2624.931030,1.895326,1384.949730,0.028379
2021-11-19,2221.383635,140.339996,249.509581,2611.233213,1.885435,1384.949730,-0.005218

In [23]:
""" def precoAtualTicker(ticker):
    ticker = yf.Ticker(ticker)
    return ticker.history().tail(1)["Close"].iloc[0]

 def calculaVariacaoPreco(dfMov):
    for index, row in dfMov.iterrows():
        ticker = yf.Ticker(row['ticker'])
        data = row['data']
        valor = row['valor']
        qtd = row['quantidade']
        tipo = row['tipo']

        valorAtual = ticker.history().tail(1)["Close"].iloc[0]

        rent = 1-(Decimal(valor)/Decimal(valorAtual))

        print(ticker, valor, valorAtual,rent) 

dfMov['precoAtual'] = dfMov.apply(lambda x: precoAtualTicker(x['ticker']), axis=1) #Preço atual da ação """

' def calculaVariacaoPreco(dfMov):\n    for index, row in dfMov.iterrows():\n        ticker = yf.Ticker(row[\'ticker\'])\n        data = row[\'data\']\n        valor = row[\'valor\']\n        qtd = row[\'quantidade\']\n        tipo = row[\'tipo\']\n\n        valorAtual = ticker.history().tail(1)["Close"].iloc[0]\n\n        rent = 1-(Decimal(valor)/Decimal(valorAtual))\n\n        print(ticker, valor, valorAtual,rent) '

In [41]:
dfMovPreco

ticker        BABA
data
2021-10-01  141.45
2021-10-15  177.10

In [40]:
pd.merge(dfTrades, dfMovPreco, how="left", left_on=dfTrades.index, right_on="data")

ticker       data  BABA_x  BABA_y
0      2021-10-01    1.54  141.45
1      2021-10-04    0.00     NaN
2      2021-10-05    0.00     NaN
3      2021-10-06    0.00     NaN
4      2021-10-07    0.00     NaN
5      2021-10-08    0.00     NaN
6      2021-10-11    0.00     NaN
7      2021-10-12    0.00     NaN
8      2021-10-13    0.00     NaN
9      2021-10-14    0.00     NaN
10     2021-10-15   -1.08  177.10
11     2021-10-18    0.00     NaN
12     2021-10-19    0.00     NaN
13     2021-10-20    0.00     NaN
14     2021-10-21    0.00     NaN
15     2021-10-22    0.00     NaN
16     2021-10-25    0.00     NaN
17     2021-10-26    0.00     NaN
18     2021-10-27    0.00     NaN
19     2021-10-28    0.00     NaN
20     2021-10-29    0.00     NaN
21     2021-11-01    0.00     NaN
22     2021-11-02    0.00     NaN
23     2021-11-03    0.00     NaN
24     2021-11-04    0.00     NaN
25     2021-11-05    0.00     NaN
26     2021-11-08    0.00     NaN
27     2021-11-09    0.00     NaN
28     2021-11-10    0.00     NaN
29     2021-11-11    0.00     NaN
30     2021-11-12    0.00     NaN
31     2021-11-15    0.00     NaN
32     2021-11-16    0.00     NaN
33     2021-11-17    0.00     NaN
34     2021-11-18    0.00     NaN
35     2021-11-19    0.00     NaN